.login-container{
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    background-color: var(--light);
    box-shadow: 0 5px 20px var(--shadow);
    overflow: hidden;
}

.form-text:hover{
    color: var(--main-color);
}

@media (max-width: 768px){
    .login-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
    .background{
        background: none;
    }
}